
.interno-logo {
width: 177px;
height: 50px;
color:#CDA274 ;
}

.home {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #cda274;
}

.header-text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 158%;
  letter-spacing: 0.02em;
  color: #292f36;
}

.header-container {
    display: flex;
}

.container {
  outline: solid red;
  width: 1224px;
padding-left: 12px;
padding-right: 12px;
margin: 0 auto;
}

.header-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  flex-direction: row;
}


.interno-title {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  letter-spacing: 0em;
  color: #292f36;
}

.interno {
  padding-top:187px ;
  padding-bottom: 260px;
   background-image: url(../images/starter-picture.png);
   background-position: center;
   background-size: 1440px;
   background-repeat: no-repeat;
}


.interno-sentence {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4d5053;
  display: flex;
  padding-top: 50px;
  padding-bottom:35px ;
}


.interno-button {
  width: 207px;
  height: 71px;
  background-color: #292f36;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 18px;
fill: #292f36;
border: 2px solid #292f36;

}

.about-titles {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 156%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #292f36;
}

.about-text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #4d5053;
}

.about-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.contact-button {
  background-color: #292f36;
  width: 263px;
  height: 71px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.pictures {
  border-radius: 0 326px 0 123px;
  width: 592px;
  height: 635px;
}

.contact-pictures {
  width: 93px;
  height: 93px;
}

.phone {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4d5053;
}

.contact-title {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: 0em;
  color: #292f36;
 height: 130px;
 width: 450px;
}

.contact-text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4d5053;
}

.people-title {
    color: #292f36;
     font-family: "DM Serif Display", sans-serif;
     font-weight: 400;
font-size: 45px;
line-height: 130%;
letter-spacing: 0em;
text-align: center;
padding-top:50px ;
padding-bottom: 20px;

}

.people-think {
  margin: 0 auto;
  display: flex;
  gap: 24px;
  padding: 40px 20px;
}

.people-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.people-card {
  background: white;
  padding: 30px;
  border-radius: 20px;
}


.people-names {
  font-family: "Jost", sans-serif;
font-weight: 400;
font-size: 25px;
line-height: 150%;
letter-spacing: 0.01em;
color: #292f36;

}

.people-image {
  border-radius: 100px;
width: 77px;
height: 77px;
background-color: #F4F0EC;
}


.people-text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
font-size: 18px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
padding-top: 12px;
padding-bottom: 20px ;
}

.people-sentence {
   font-family: "Jost", sans-serif;
  font-weight: 400;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;

}


.people-think {
  background-color: #F4F0EC;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  padding: 24px 40px;
}

.projects-title {
font-family:"DM Serif Display", sans-serif; 
color: #292f36;
     font-weight: 400;
font-size: 47px;
line-height: 133%;
letter-spacing: 0em;
text-align: center;
justify-content: center;
display: flex;
}

.projects-sentence {
  font-family: "Jost", sans-serif;
  font-weight: 400;
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
}

.project-images {
  border-radius: 0 80px 0 0;
width: 590px;
height: 661px;
}

.project-text {
  font-family:"DM Serif Display", sans-serif;
  font-weight: 400;
font-size: 24px;
line-height: 156%;
letter-spacing: 0.01em;
color: #292f36;
}


.project {
 font-family: "Jost", sans-serif;
font-weight: 400;
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
}


/* .projects-list {
  display: flex;
  gap: 60px;
  background-color:#F5F1EB;
  text-align: center;
flex-direction: column;
padding-bottom: 50px;
padding-top:50px ;
} */ 

.projects-container{
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color:#F5F1EB;
  padding-bottom: 50px;
padding-top:50px ;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-numbers {
  font-family:"DM Serif Display", sans-serif;
font-weight: 400;
font-size: 85px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #cda274;

}

.project-review{
  font-family: "Jost", sans-serif;
   margin-top: 12px;
  font-weight: 400;
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
text-align: center;
color: #4d5053;
}

.blog-title {
  font-family:"DM Serif Display", sans-serif;
  font-weight: 400;
font-size: 48px;
line-height: 130%;
letter-spacing: 0em;
text-align: center;
color: #292f36;
padding-top: 40px;
padding-bottom: 15px;
}

.blog-sentence {
   font-family: "Jost", sans-serif;
  font-weight: 400;
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
text-align: center;
color: #4d5053;
}

.blog-text {
   font-family:"DM Serif Display", sans-serif;
  font-weight: 400;
font-size: 25px;
line-height: 140%;
letter-spacing: 0.02em;
color: #292f36;
}

.blog-date {
    font-family: "Jost", sans-serif;
  font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
}

.color {
     font-family: "Jost", sans-serif;
  font-weight: 400;
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
text-align: center;
color: #cda274;
}

.footer-ending {
   font-family: "Jost", sans-serif;
  font-weight: 400;
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
text-align: center;
color: #4d5053;
padding-top: 40px;
}

.footer-picture {
  width: 177px;
height: 50px;
color:#CDA274 ;
}

.footer-sentence {
   font-family: "Jost", sans-serif;
  font-weight: 400;
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
}

.phone{
   font-family: "Jost", sans-serif;
  font-weight: 400;
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
}

.gmail{
     font-family: "Jost", sans-serif;
  font-weight: 400;
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
padding-bottom: 15px;
padding-top: 15px;
}

.address{
    font-family: "Jost", sans-serif;
  font-weight: 400;
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
}

.blog-picture {
  border-radius: 45px 45px 0 0;
width: 345px;
height: 296px;
}

.blog-list {
  display: flex;
  gap: 20px;
}

.websites-text {
  font-family:"DM Serif Display", sans-serif;
  font-weight: 400;
font-size: 25px;
line-height: 150%;
letter-spacing: 0.01em;
color: #292f36;
padding-bottom:20px ;
}

.websites-link{
    font-family: "Jost", sans-serif;
  font-weight: 400;
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
display: flex;
flex-direction: column ;
}

.footer-column a {
  text-decoration: none;
  color:#4D5053;
  font-size: 16px;
}

 a:hover {
  text-decoration: underline;
}
